body {
  margin: 0;
  background-color: var(--main-bg-color);
  color: #f7f7f7;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --app-bg-color: #312f2f;
  --main-bg-color: #292726;
  --red-color: #9e3343;
  --light-grey-color: #bdbdbd;
}
