.container {
  height: 120px;
  font-family: "Share Tech Mono", monospace;
  text-transform: uppercase;

  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #2c2d2d;
}

.messageText {
  opacity: 0;
  transition: all ease 0.5s;
}

.show {
  opacity: 1;
}
